@mixin base-zero {
	margin: 0;
	padding: 0;
}
@mixin navigation-size {
	height: 12rem;
	width: 100%;
}
@mixin respond($breakpoint) {
	@if $breakpoint == phone-xs {
		@media all and (max-width: 320px) { @content; }
	}
	@if $breakpoint == phone-s {
		@media all and (max-width: 360px) { @content; }
	}
	@if $breakpoint == phone-m {
		@media all and (max-width: 375px) { @content; }
	}
	@if $breakpoint == phone-lg {
		@media all and (max-width: 420px) { @content; }
	}
	@if $breakpoint == phone-xl {
		@media all and (max-width: 576px) { @content; }
	}
	@if $breakpoint == tab-port {
		@media all and (max-width: 714px) { @content; }
	}
	@if $breakpoint == tab-land {
		@media all and (max-width: 1024px) { @content; }
	}
	@if $breakpoint == big-desktop {
		@media all and (min-width: 1700px) { @content; }
	}
}
@mixin row-second-responsive {
	.row-item:nth-child(2) {
		margin: 0 5rem;
		@include respond(tab-port) {
			margin: 3.4rem 0;
		}
	}
}
@mixin title-space {
	h3 {
		padding-top: 6rem;
	}
}