$COLOR_IRON_APPROX: #d8d8d8;
$COLOR_COPPER_APPROX: #a97b3f;
$BLACK: #000;
$WHITE: #fff;
$COLOR_SHARK_APPROX: #282828;
$COLOR_KUMERA_APPROX: #815d2e;
$URL_HEADER_IMG: url('../img/header-img.png');
$URL_HEADER_IMG_W826: url('../img/header-img-W826.png');
$FONT_MAIN: 'Google Sans';
$FONT_SECONDARY: 'Sans Serif';