$COLOR_BROWN: #815d2e;
$COLOR_BLACK: #000;
$COLOR_LIGHT_GREY: #d8d8d8;
$COLOR_LIGHT_BROWN: #a97b3f;
$COLOR_LIGHT_BLACK: #282828;
$COLOR_WHITE: #fff;
$FONT_MAIN: 'Google Sans';
$FONT_SECONDARY: 'Sans Serif';
$URL_HEADER_IMG: url('../img/header-img.png');
$URL_HEADER_IMG_W826: url('../img/header-img-W826.png');
$NAVIGATION_HEIGHT: 12rem;