$COLOR_IRON_APPROX: #D8D8D8;
$COLOR_COPPER_APPROX: #A97B3F;
$BLACK: #000;
$WHITE: #FFF;
$COLOR_SHARK_APPROX: #282828;
$COLOR_KUMERA_APPROX: #815D2E;
$URL_HEADER_IMG: url('../img/header-img.png');
$URL_HEADER_IMG_W826: url('../img/header-img-W826.png');
$FONT_MAIN: 'Google Sans';
$FONT_SECONDARY: 'Sans Serif';