html {
	box-sizing: border-box;
	font-size: 62.5%; /* font size: 10px*/
}
body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	width: 100%;
    height: 100%;
	font-family: 'Google Sans', sans-serif;
}
header,
section,
footer,
main,
h1,
h2,
h3,
h4,hr {
	margin: 0;
	padding: 0;
}
hr {
	border: 0 solid #d8d8d8;
	border-top-width: .1rem;
}
section {
	padding-bottom: 6rem;
}
.wrapper {
	height: 100%;
	margin: 0 auto;
	width: 80%;
}
.seperator {
	max-width: 60%;
	padding-top:1.5rem;
	margin: 0 auto;
}
.title {
	font-size: 8rem;
}
.sub-title {
	font-size: 4.4rem;
	color: #a97b3f;
	font-weight: 500;
	padding-top: 6rem;
}
.description {
	padding-top: 1.6rem;
	font-size: 2.4rem;
	padding-bottom: 6.8rem;
}
p.description {
	margin: 0;
}
.row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
}
.row-item:nth-child(2) {
	margin: 0 1.5rem;
}
.row-item {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.row-item img {
	width: 8rem;
	height: 8rem;
}
.row-title {
	padding-top: 2.8rem;
	font-weight: bold;
	font-size: 2.4rem;
}
.row-description {
	font-size: 2.2rem;
	max-width: 38rem;
}
.first-item {
	align-items: flex-start;
}
.first-item .row-item {
	align-items: flex-start;
	margin-right: 0;
}
.first-item .row-item p {
	max-width: 38rem;
	font-size: 2.2rem;
	margin-block-start: 1.1rem;
	padding-left: 1.5rem;
}
.first-item .row-item .divisible-img {
	width: 4.5rem;
	height: 4.5rem;
}
.steps {
	list-style: none;
	position: relative;
	left: 1.5rem;
}
.steps::before {
	content: " ";
	width: .2rem;
	background-color: black;
	left: 30%;
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 2.2rem;
}
.steps li {
	color: white;
	width: 4.5rem;
	height: 4.5rem;
	line-height: 4.5rem;
	font-size: 2.4rem;
	text-align: center;
	background-color: black;
	margin-left: -5rem;
	z-index: 100;
	border-top-right-radius: 50%;
	border-top-left-radius: 50%;
	border-bottom-right-radius: 50%;
	border-bottom-left-radius: 50%;
}
.second-item {
	float: right;
	align-content: center;
	justify-content: center;
}
.second-item img {
	height: 37rem;
	width: 45rem;
	padding-bottom:1.5rem;
}

.header-title {
	height: 12rem;
	width: 100%;
	background-color: #282828;
	position: fixed;
	z-index: 101;
}
.header-title .top-title.wrapper {
	display: flex;
	align-items: center;
}
.header-title .header_img {
	width: 39.2rem;
	height: 8.8rem;
}

.header-bar {
	min-height: 63rem;
	width: 100%;
	background-image: url('../img/header-img.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 40% 50%;
	image-rendering: pixelated;
	margin-top: -1px;
	padding-top: 12rem;
	padding-bottom: 1rem;
}
.header-bar .title {
	font-weight: bold;
	color: #a97b3f;
}
.header-bar .sub-title {
	color: white;
	max-width: 120rem;
	padding-top: 2.7rem;
}
.header-bar p {
	padding-top: 3.2rem;
	max-width: 64.3rem;
	color: white;
	font-size: 2.8rem;
}
.header-bar .header.wrapper {
	padding-top: 9.3rem;
}
.header-bar .header-button {
	background-color: #a97b3f;
	color: white;
	padding: 2.2rem 4rem;
	border-radius: 4rem;
	border: none;
	font-size: 2.4rem;
}
.header-button:hover {
	cursor: pointer;
	background-color: #815d2e;
	-moz-transition: all 0.1s ease-in;
	-webkit-transition: all 0.1s ease-in;
	-o-transition: all 0.1s ease-in;
	transition: all 0.1s ease-in;
}
.coin-works {
	text-align: center;
	width: 100%;
}
.coin-works .row-item:nth-child(2) {
	margin: 0 5rem;
}
.coin-use {
	text-align: center;
	background-color: #d8d8d8;
	width: 100%;
}
.coin-use .row-item:nth-child(2) {
	margin: 0 5rem;
}
.coin-use .sub-title {
	padding-top: 6rem;
}
.coin-buy .row {
	height: 100%;
	justify-content: space-between;
}
.coin-buy .sub-title {
	padding-top: 6rem;
}
.coin-buy .description {
	padding-top: 3.5rem;
	padding-bottom: 5.5rem;
	width: 43rem;
}
.coin-buy .step-1 {
	margin-bottom: 7.2rem;
}
.coin-buy .step-2 {
	margin-bottom: 4.5rem;
}
.coin-buy .first-item .sub-title {
	max-width: 68rem;
}
.coin-redeem .row {
	height: 100%;
}
.coin-redeem .sub-title {
	padding-top: 6.1rem;
}
.coin-redeem .description {
	padding-top: 3.5rem;
	padding-bottom: 5.5rem;
}
.coin-redeem .second-item {
	padding-right: 23rem;
}
.coin-redeem .step-1 {
	margin-bottom: 4.5rem;
}
.coin-redeem .step-2 {
	margin-bottom:4.2rem;
}
.technical-implementation {
	text-align: center;
	width: 100%;
}
.technical-implementation .sub-title {
	padding-top: 6rem;
}
.technical-implementation .row-item:nth-child(2) {
	margin: 0 5rem;
}
.faq {
	text-align: center;
	width: 100%;
}
.faq .sub-title {
	padding-top: 6rem;
}
.faq-section {
	text-align: left;
}
.question {
	padding-top: 3rem;
	font-weight: bold;
	font-size: 2.4rem;
}
.answer {
	font-size: 2.2rem;
	padding-top: 1.6rem;
	padding-bottom: 3.1rem;
}
.seperator-sub {
	margin: 0 auto;
	width: 100%;
}
.faq .description {
	padding-bottom: 6rem;
}
.footer {
	height: 12rem;
	width: 100%;
	background-color: #282828;
}
.footer .wrapper {
	display: flex;
	align-items: center;
}
.footer .wrapper img {
	width: 39.2rem;
	height: 8.8rem;
}
.footer-bottom {
	width: 100%;
	height: 2rem;
	background-color: #a97b3f;
}

@media all and (min-width: 1700px) {
	html {
		font-size: 75.5%; /* font size: 12px*/
	}
	.wrapper {
		width: 60%;
	}
	.coin-redeem .second-item {
		padding: 13rem;
	}
	.coin-redeem .sub-title {
		max-width: 58rem;
	}
	.row {
		justify-content: space-between;
	}
}
@media all and (max-width: 1024px) {
	html {
		font-size: 58%; /* font size: 9.2px*/
	}
	.second-item img {
		width: 46.5rem;
	}
	.row-item {
		margin-left: 0;
	}
	.coin-buy .first-item .sub-title {
		 min-width: 0;
	}
	.coin-redeem .second-item {
		 padding-right: 2.5rem;
	}
	.header-bar {
		min-height: 67.5rem;
		background-position: 16% 16%;
	}
	.steps::before {
		left: 38%;
	}
}

@media all and (max-width: 991px) {
	html {
		font-size: 54%; /* font size: 8.6px*/
	}
	.row {
		flex-wrap: wrap;
	}
	.coin-use .row-item:nth-child(2) {
		margin: 3.4rem 0;
	}
	.coin-works .row-item:nth-child(2) {
		margin: 3.4rem 0;
	}
	.technical-implementation .row-item:nth-child(2) {
		margin: 3.4rem 0;
	}
	.coin-buy .description, .coin-redeem .description {
		width:unset;
		text-align: center;
	}
	.coin-buy .row .row .row-item, .coin-redeem .row .row .row-item {
		margin-top: 0;
	}
	.coin-redeem .wrapper .row:first-child {
		flex-direction: column-reverse;
	}
	.coin-redeem .second-item {
		padding: 0;
	}
	.first-item {
		align-items: center;
	}
	.first-item .sub-title {
		text-align: center;
	}
	.second-item img {
		width: 66.5rem;
		padding-top:3.4rem;
	}
	.coin-buy .first-item .sub-title {
		min-width: 50rem;
	}
	.header-title .header_img {
		width: 30.5rem;
		height: 7.1rem;
	}
	.header-bar {
		background-position: 30% 70%;
	}
	.steps::before {
		left: 41%;
	}
	.footer .wrapper img {
		width: 30.5rem;
    	height: 7.1rem;
	}
}

@media all and (max-width: 600px) {
	html {
		font-size: 47%; /* font size: 7.5px*/
	}
	.header-bar {
		min-height: 88.5rem;
	}
	.header-title .header_img, .footer .wrapper img {
		height: 8rem;
    	width: 34rem;
	}
	.coin-buy .first-item .sub-title {
		min-width: 36rem;
	}
	.coin-buy .step-1 {
		margin-bottom: 7.4rem;
	}
	.coin-buy .step-2 {
		margin-bottom: 4.8rem;
	}
	.coin-redeem .step-1 {
		margin-bottom: 4.7rem;
	}
	.coin-redeem .step-2 {
		margin-bottom: 4rem;
	}
	.header-bar p {
		padding-bottom: 2rem;
	}
	.second-item img {
		height: 21rem;
		width: 41rem;
	}
	.coin-redeem .row .row {
		flex-wrap: nowrap;
	}
	.coin-buy .row .row {
		flex-wrap: nowrap;
	}
	.steps::before {
		bottom: 4.2rem;
		left: 46%;
	}
}

@media all and (max-width: 420px) {
	html {
		font-size: 38%; /* font size: 6px*/
	}
	.top-title.wrapper {
		margin: 0 3rem;
	}
	.coin-buy .first-item .sub-title {
		min-width: 0;
	}
	.second-item img {
		height: 18rem;
		width: 24rem;
	}
	.coin-buy .step-1 {
		margin-bottom: 7.7rem;
	}
	.coin-buy .step-2 {
		margin-bottom: 4.6rem;
	}
	.coin-redeem .step-1 {
		margin-bottom: 4.7rem;
	}
	.coin-redeem .step-2 {
		margin-bottom: 4rem;
	}
	.steps::before {
		bottom: 3.5rem;
		left: 58%;
	}
	.header-bar {
		min-height: 69rem;
	}
	.header-bar .header.wrapper {
		padding-top: 6.3rem;
	}
}

@media all and (max-width: 375px) {
	.second-item img {
		width: 45rem;
	}
	.header-bar {
		min-height: 77rem;
	}
}
@media all and (max-width: 360px) {
	.header-bar {
		min-height: 81rem;
	}
}
@media all and (max-width: 320px) {
	.second-item img {
		width: 38rem;
	}
	.header-bar {
		min-height: 84rem;
	}
	.header-bar .header.wrapper {
		padding-top: 5.3rem;
	}
	.header-bar {
		background-image: url('../img/header-img-W826.png');
		background-position: 20% 20%;
	  }
}