body {
	margin: 0;
	padding: 0;
	font-family: 'Google Sans', sans-serif;
}

header,
section,
footer {
	margin: 0;
	padding: 0;
}

.wrapper {
	height: 100%;
	margin: 0 auto;
	width: 62.5%;
}

hr {
	color: #e8e8e8;
}

.title {
	font-size: 80px;
}

.sub-title {
	font-size: 44px;
	color: #A97B3F;
}

.header_title {
	height: 120px;
	width: 100%;
	background-color: #282828;
}

.header_title .top_title.wrapper {
	display: flex;
	align-items: center;
}

.header_title .header_img {
	width: 320.23;
	height: 88px;
}

.header_bar {
	height: 632px;
	width: 100%;
	background-image: url('../img/header-img.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 18% 50%;
	image-rendering: pixelated;
	margin-top:-1px;
}

.header_bar .title {
	font-weight: bold;
	color: #A97B3F;
}

.header_bar .sub-title {
	color: white;
	width: 1200px;
	padding-top: 27px;
}

.header_bar p {
	padding-top: 32px;
	width: 642.41px;
	color: white;
	font-size: 28px;
}

.header_bar .header.wrapper {
	padding-top: 93px;
}

.header_bar .header_button {
	background-color: #A97B3F;
	color: white;
	padding: 22px 39px;
	border-radius: 40px;
	border: none;
	font-size: 24px;
}

.coin_works {
	text-align: center;
	height: 726px;
	width:100%;
}

.sub-title {
	padding-top: 151px;
}

.description {
	padding-top: 16px;
	font-size: 24px;
	padding-bottom: 68px;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
}

.row-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 15px;
	align-items: center;
}

.row-item img {
	width: 79.69px;
	height: 79.69px;
}

.row-title {
	padding-top: 28px;
	font-weight: bold;
	font-size: 24px;
}

.row-description {
	font-size: 22px;
	min-width: 380px;
}

.coin_use {
	text-align: center;
	height: 657px;
	background-color: #D8D8D8;
	width:100%;
}

.coin_use .sub-title {
	padding-top: 70px;
}