button {
	background-color: $COLOR_LIGHT_BROWN;
	color: $COLOR_WHITE;
	padding: 2.2rem 4rem;
	border-radius: 4rem;
	border: none;
	font-size: 2.4rem;
	&:focus {
		outline: none;
	}
	&:hover {
		cursor: pointer;
		background-color: $COLOR_BROWN;
		transition: all 0.1s ease-in;
	}
}